{% extends "default" %}

{% block head_meta %}
    <meta name="robots" content="index, follow">
    <meta name="title" content="{{ page.title }} | {{ site.title }}">
    <meta name="keywords" content="{% for tag in page.tags %}{{ tag }}{% if not loop.last %}, {% endif %}{% endfor %}">
    <meta name="description" content="{{ page.description }}">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="article">
    <meta property="og:article:published_time" content="{{ page.date }}">
    <meta property="og:url" content="{{ site.url }}{{ page.url }}">
    <meta property="og:title" content="{{ page.title }} | {{ site.title }}">
    <meta property="og:description" content="{{ page.description }}">
    <meta property="og:image" content="{{ site.url }}/assets/img/thumbs/{{ page.filename|replace({'.md': '.png'}) }}">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary">
    <meta property="twitter:url" content="{{ site.url }}{{ page.url }}">
    <meta property="twitter:title" content="{{ page.title }} | {{ site.title }}">
    <meta property="twitter:description" content="{{ page.description }}">

    <link rel="preconnect" href="https://gravatar.com">
    <link rel="preconnect" href="https://utteranc.es">

    <link rel="prefetch" href="/build/social/facebook.svg" as="image" type="image/svg+xml">
    <link rel="prefetch" href="/build/social/twitter_x.svg" as="image" type="image/svg+xml">
    <link rel="prefetch" href="/build/social/linkedin.svg" as="image" type="image/svg+xml">
    <link rel="prefetch" href="/build/social/whatsapp.svg" as="image" type="image/svg+xml">

{% endblock %}

{% block head_styles %}
    <link rel="stylesheet" href="/build/post.css">
{% endblock %}

{% block content_wrapper %}
    <article itemscope itemtype="https://schema.org/Article">
        <header>
            <h1 itemprop="headline" class="post-title">
                {{ page.title }}
            </h1>
            <time class="post-date" itemprop="datePublished" pubdate datetime="{{ page.date|format_date(pattern='Y-MM-dd') }}">
                {{ page.date|format_date(locale='pt-BR', pattern="dd 'de' MMMM 'de' Y") }}
            </time>
        </header>
        <div itemprop="articleBody">
            {{ page.blocks.content|raw }}
        </div>
        <footer itemprop="author" itemscope itemtype="https://schema.org/Person">
            <div class="social-links-footer">
                <p>
                    Gostou desse post? Que tal compartilhar?
                </p>
                <span>
                    <a href="https://facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.url }}" target="_blank" aria-label="Compartilhar post no Facebook">
                        <img src="/build/social/facebook.svg" alt="Logo do Facebook" loading="lazy" />
                    </a>
                    <a href="https://twitter.com/intent/tweet/?text={{ (page.title ~ " | " ~ site.title ~ "\n")|url_encode }}&url={{ site.url }}{{ page.url }}" target="_blank" aria-label="Compartilhar post no X (Twitter)">
                        <img src="/build/social/twitter_x.svg" alt="Logo do X (Twitter)" loading="lazy" />
                    </a>
                    <a href="https://linkedin.com/sharing/share-offsite/?url={{ site.url }}{{ page.url }}" target="_blank" aria-label="Compartilhar post no LinkedIn">
                        <img src="/build/social/linkedin.svg" alt="Logo do LinkedIn" loading="lazy" />
                    </a>
                    <a href="https://api.whatsapp.com/send?text={{ site.url }}{{ page.url }}" target="_blank" aria-label="Compartilhar post no WhatsApp">
                        <img src="/build/social/whatsapp.svg" alt="Logo do WhatsApp" loading="lazy" />
                    </a>
                </span>
            </div>
            <div class="post-author-footer">
                <img src="https://gravatar.com/avatar/63579c5a873f3ab6abff10803e9a252f.jpg?s=50"
                     alt="Foto do Vinicius Dias, um homem branco de cabelos escuros e curtos, em perfil com o fundo bem escuro em tons de azul enquanto mexe em um laptop durante uma apresentação."
                     width="50"
                     height="50"
                     loading="lazy"
                     itemprop="image">
                <p>
                    Escrito por
                    <a href="/sobre-mim/" itemprop="url">
                        <span itemprop="name">Vinicius Dias</span>
                    </a>
                </p>
            </div>
        </footer>

        <script src="https://utteranc.es/client.js"
                repo="cviniciussdias/cviniciussdias.github.io"
                issue-term="pathname"
                theme="github-light"
                crossorigin="anonymous"
                async>
        </script>

        {% if page.previous_post or page.next_post %}
            <nav class="article-navigation">
                <ul>
                    <li>
                        {% if page.previous_post %}
                        <a class="previous" href="{{ page.previous_post.url }}" title="{{ page.previous_post.title }}">
                            ← <span class="title">{{ page.previous_post.title }}</span>
                        </a>
                        {% endif %}
                    </li>
                    <li>
                        {% if page.next_post %}
                        <a class="next" href="{{ page.next_post.url }}" title="{{ page.next_post.title }}">
                            <span class="title">{{ page.next_post.title }}</span> →
                        </a>
                        {% endif %}
                    </li>
                </ul>
            </nav>
        {% endif %}
    </article>
{% endblock %}

{% block scripts_after %}
    {% if page.video %}
        <script defer src="/build/lite-yt-embed-script.js" type="module"></script>
    {% endif %}
{% endblock %}
