<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <title>{% block title %}{{ page.title }}{% endblock %} | {{ site.title }}</title>
        <meta charset="utf-8">
        <meta name="theme-color" content="#ffffff">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        {% block head_meta %}
            <meta name="robots" content="index, follow">
        {% endblock %}
        <link rel="preload" href="/build/Baloo2-Bold.ttf" as="font" type="font/ttf" crossorigin>
        <link rel="preload" href="/build/Baloo2-ExtraBold.ttf" as="font" type="font/ttf" crossorigin>
        <link rel="preload" href="/build/Baloo2-Medium.ttf" as="font" type="font/ttf" crossorigin>
        <link rel="preload" href="/build/Baloo2-Regular.ttf" as="font" type="font/ttf" crossorigin>
        <link rel="preload" href="/build/Baloo2-SemiBold.ttf" as="font" type="font/ttf" crossorigin>
        <link rel="preload" href="/build/FugazOne-Regular.ttf" as="font" type="font/ttf" crossorigin>
        <link rel="stylesheet" href="/build/app.css">

        {#<link rel="apple-touch-startup-image" href="/build/2048x2048.png">
        <meta name="mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <link rel="shortcut icon" sizes="76x76" href="/build/jackson/76x76.png">
        <link rel="shortcut icon" sizes="120x120" href="/build/jackson/120x120.png">
        <link rel="shortcut icon" sizes="128x128" href="/build/jackson/128x128.png">
        <link rel="shortcut icon" sizes="152x152" href="/build/jackson/152x152.png">
        <link rel="shortcut icon" sizes="196x196" href="/build/jackson/196x196.png">
        <link rel="shortcut icon" sizes="512x512" href="/build/jackson/512x512.png">
        <link rel="shortcut icon" sizes="1024x1024" href="/build/jackson/1024x1024.png">
        <link rel="shortcut icon" sizes="2048x2048" href="/build/jackson/2048x2048.png">
        <link rel="apple-touch-icon" sizes="76x76" href="/build/jackson/76x76.png">
        <link rel="apple-touch-icon" sizes="120x120" href="/build/jackson/120x120.png">
        <link rel="apple-touch-icon" sizes="128x128" href="/build/jackson/128x128.png">
        <link rel="apple-touch-icon" sizes="152x152" href="/build/jackson/152x152.png">
        <link rel="apple-touch-icon" sizes="196x196" href="/build/jackson/196x196.png">
        <link rel="apple-touch-icon" sizes="512x512" href="/build/jackson/512x512.png">
        <link rel="apple-touch-icon" sizes="1024x1024" href="/build/jackson/1024x1024.png">
        <link rel="apple-touch-icon" sizes="2048x2048" href="/build/jackson/2048x2048.png">#}

        <link rel="alternate" type="application/atom+xml" href="/atom.xml" title="{{ site.title }} activity feed">
        {% set page_url = page.url is same as('/.') ? '/' : page.url %}
        <link rel="canonical"
              href="{{ site.url }}{{ page_url }}{{ not (page_url ends with '/') ? '/' : '' }}">
        {% if page.css_file is defined %}
        <link rel="stylesheet" href="/build/{{ page.css_file }}.css">
        {% endif %}
        {% block head_styles %}
        {% endblock %}
        {% block head_scripts %}
        {% endblock %}
    </head>
    <body>
        <div class="global-container">
            <header>
                <div class="header-title">
                    <h1 class="main-heading">
                        <a aria-current="page" href="/">{{ site.title }}</a>
                    </h1>
                </div>
                <nav class="menu">
                    <a aria-current="page" href="/">Home</a>
                    <a href="/categorias">Categorias</a>
                    {#<a class="nav-link" href="/blog">Posts Archive</a>
                    <a class="nav-link" href="/blog/tags">Tags</a>#}
                    <a href="/sobre-mim/">Sobre Mim</a>
                    <a href="https://youtube.com/@DiasDeDev" target="_blank">
                        YouTube
                    </a>
                </nav>
            </header>
            <main role="main">
                {% block content_wrapper %}{% block content %}{% endblock %}{% endblock %}
            </main>
            <footer class="global-footer">&copy; {{ "now"|date("Y") }} {{ site.title }}</footer>
        </div>

        <script src="/build/app.js"></script>
        {% block scripts %}
        {% endblock %}

        <!-- Simple Analytics -->
        <script defer src="https://sa.dias.dev/latest.js"></script>
        <script defer src="https://sa.dias.dev/auto-events.js"></script>
        <noscript>
            <img src="https://sa.dias.dev/noscript.gif"
                 alt=""
                 referrerpolicy="no-referrer-when-downgrade" />
        </noscript><!-- Google AdSense -->
        <script defer
                src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8918461095244552"
                crossorigin="anonymous"></script>
        {% block scripts_after %}
        {% endblock %}
    </body>
</html>
