---
layout: default
title: Todas as publicações
generator: pagination
pagination:
    max_per_page: 5
use:
    - posts
css_file: index
---
{% for post in page.pagination.items %}
    <article class="post-list-item" itemscope itemtype="https://schema.org/Article">
        <header>
            <h2 itemprop="headline">
                <a href="{{ post.url }}" itemprop="url">{{ post.title }}</a>
            </h2>
            <small class="post-date" itemprop="dateCreated">
                {{ post.date|format_date(locale='pt-BR', pattern="dd 'de' MMMM 'de' Y") }}
            </small>
        </header>
        <div itemprop="abstract">
            {{ post.meta.description }}
        </div>
    </article>

    {% if loop.index == 3 %}
    <ins class="adsbygoogle"
         style="display:block"
         data-ad-format="fluid"
         data-ad-layout-key="-gd-13+3u-4y+2z"
         data-ad-client="ca-pub-8918461095244552"
         data-ad-slot="4932219016"></ins>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
    {% endif %}
{% endfor %}
{% if page.pagination.previous_page or page.pagination.next_page %}
    <nav class="index-footer">
        {% if page.pagination.previous_page %}
        <a href="{{ page.pagination.previous_page.url }}">Publicações mais recentes</a>
        {% endif %}
        {% if page.pagination.next_page %}
        <a href="{{ page.pagination.next_page.url }}">Publicações mais antigas</a>
        {% endif %}
    </nav>
{% endif %}
