---
layout: default
title: Todas as publicações
generator: pagination
pagination:
    max_per_page: 5
use:
    - posts
css_file: index
---
{% for post in page.pagination.items %}
    <article class="post-list-item" itemscope itemtype="https://schema.org/Article">
        <header>
            <h2 itemprop="headline">
                <a href="{{ post.url }}" itemprop="url">{{ post.title }}</a>
            </h2>
            <time class="post-date" itemprop="datePublished" pubdate datetime="{{ post.date|format_date(pattern="Y-MM-dd") }}">
                {{ post.date|format_date(locale='pt-BR', pattern="dd 'de' MMMM 'de' Y") }}
            </time>
        </header>
        <div itemprop="abstract">
            {{ post.meta.description }}
        </div>
    </article>
{% endfor %}
{% if page.pagination.previous_page or page.pagination.next_page %}
    <nav class="index-footer">
        {% if page.pagination.next_page %}
        <a href="{{ page.pagination.next_page.url }}/">Publicações mais antigas</a>
        {% endif %}
        {% if page.pagination.previous_page %}
        <a href="{{ page.pagination.previous_page.url }}/">Publicações mais recentes</a>
        {% endif %}
    </nav>
{% endif %}
